@import "tailwindcss";

@font-face {
  font-family: "def2";
  src: url("../public/fonts/def.woff") format("woff2");
}

@font-face {
  font-family: "Boldonse";
  src: url("../public/fonts/Boldonse-Regular.ttf") format("truetype");
}


body {
  background: #050505;
  color: #ddd;
  font-family: 'def2', monospace;
}

:root {
  --primary: #ff4500;
}

/* Hexagon Shape */
.hex {
  position: absolute;
  width: 60px;
  height: 34.64px;
  background-color: rgba(var(--primary), 0.25);
  margin: 17.32px 0;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  backdrop-filter: blur(6px);
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) rotate(20deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-float {
  animation: float infinite ease-in-out;
}

.slow {
  animation-duration: 8s;
}

.mid {
  animation-duration: 5s;
}

.fast {
  animation-duration: 3s;
}

::-webkit-scrollbar {
  display: none;
}
